body, html {
    height: 100%;
    margin: 0;
}

.parallax {
    /* The image used */
    background-image: url("img_parallax.jpg");
  
    min-height: 100%;
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    opacity: 0.80;
}

.parallax_2 {
    /* The image used */
    background-image: url("img_parallax_2.jpg");
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    opacity: 0.80;
}

.parallax_3 {
  /* The image used */
  background-image: url("img_parallax_3.jpg");

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.80;
}

.parallax_4 {
  /* The image used */
  background-image: url("img_parallax_4.jpg");

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.80;
  height: 400px;
}

.parallax_5 {
  /* The image used */
  background-color: #fff;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.80;
  height: 250px;
}


.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption_2 {
    width: 100%;
    text-align: center;
    color: #000;
}

.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
    font-family: 'Mansalva', cursive;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

a {
  font-family: 'Mansalva', cursive;
}

.borderLight {
    background-color: #111;
    color: #fff;
    padding: 18px;
}

p {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Roboto', sans-serif;
}

label {
    font-family: 'Roboto', sans-serif;
}

.hero__content{
    font-style: italic;
}

/** code by webdevtrick ( https://webdevtrick.com ) */
.tabs {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
}
 
.tabs label {
  order: 1;
  display: block;
  padding: 1rem 2rem;
  margin-right: 0.2rem;
  cursor: pointer;
  background:  #3CC0F8;
  font-weight: bold;
  transition: background ease 0.2s;
}
 
.tabs .tab {
  order: 99;
  flex-grow: 1;
  width: 100%;
  display: none;
  padding: 1rem;
  background: #fff;
}
 
.tabs input[type="radio"] {
  display: none;
}
 
.tabs input[type="radio"]:checked + label {
  background: #fff;
}
 
.tabs input[type="radio"]:checked + label + .tab {
  display: block;
}
 
@media (max-width: 45em) {
  .tabs .tab,
  .tabs label {
    order: initial;
  }
 
  .tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
  }
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    background-image: linear-gradient(to right, #aa809d, #e63973);
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }

  .about_me {
    display: flex;
    flex: 1;
    flex-direction: row;
  }

  .about_me__img {
    border-radius: 50%;
    height: 250px;
    width: auto;
    padding: 50px;
  }

  .about_me__left {
    flex: 0.5;
    text-align: center;
  }

  .about_me__right {
    flex: 0.5;
    padding: 50px;
    background-color: #000;
    margin: 30px;
  }

  .about_me__content {
    color: #FFF;
  }

  .no-opacity {
    opacity: 1;
  }

  @keyframes load{
    from {
      width: 0%
    }
  }
  @-webkit-keyframes load{
    from {
      width: 0%
    }
  }
  @-moz-keyframes load{
    from {
      width: 0%
    }
  }
  @-o-keyframes load{
    from {
      width: 0%
    }
  }
  
  .bar{
    background-color: #EEE;
    padding: 2px;
    border-radius: 15px;
    margin-bottom: 5px;
    font-size: 14px;
    color: #FFF;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  }
  .bar::before{
    content:  attr(data-skill);
    background-color: #f3b0ff;
    display: inline-block;
    padding: 5px 0 5px 10px;
    border-radius: inherit;
    animation: load 2s 0s;
    -webkit-animation: load 2s 0s;
    -moz-animation: load 2s 0s;
    -o-animation: load 2s 0s;
  }
  
  .bar.front::before{
    background-color: #ffcc33;
  }
  .bar.back::before{
    background-color: #a6cfe3;
  }
  
  .bar.learning::before{
    width: calc(20% - 10px);
  }
  .bar.basic::before{
    width: calc(40% - 10px);
  }
  .bar.intermediate::before{
    width: calc(60% - 10px);
  }
  .bar.advanced::before{
    width: calc(80% - 10px);
  }
  .bar.expert::before{
    width: calc(100% - 10px);
  }

  .abilities {
    padding: 100px;
  }
  
  .contact_me {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
  }

  .whatsapp {
    width: 128px;
    height: 128px;
  }

  /* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}